/* body {
    background-color: green !important;
} */

.signout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }